# Q.1 Solve the problem statement : 
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

In [4]:
def print_even_odd(n):
    if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0 and 2 <= n <= 5:
        print("Not Weird")
    elif n % 2 == 0 and 6 <= n <= 20:
        print("Weird")
    elif n % 2 == 0 and n > 20:
        print("Not Weird")

In [7]:
n = int(input("Enter the value"))
print_even_odd(n)

Enter the value5
Weird

# Q.2 Solve this :
The included code stub will read an integer, n, from STDIN. Without using any string methods, try to print the following: 123……..n
Note that "..." represents the consecutive values in between.
Example
n = 5

Print the string 12345 .

Input Format
The first line contains an integer n.

Constraints
1 ≤ n ≤ 150
Output Format
Print the list of integers from 1 through n as a string, without spaces.

In [38]:
def print_num_string(n):
    if (1 <= n <= 150):
        for i in range(1, n+1):
            print(i, end="")
    else:
        print("Input value must be between 1 and 150.")

In [35]:
n = int(input("Enter the number: "))
print_num_string(n)

Enter the number: 120
123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119120

# Q.3 Task Let’s learn about list comprehension! You are given three integers x, y, and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k is not equal to n. Here, 0 <= i <= x; 0 <= j <= y; 0 <= k <= z. Please use list comprehensions rather than multiple loops, as a learning exercise.

Example
x = 1
y = 1
z = 2
n = 3 

All permutations of [i, j, k] are:
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]].
Print an array of the elements that do not sum to n = 3.
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1],  [1, 1, 0],  [1, 1, 2]]
Input Format
Four integers x, y, z and n, each on a separate line.

Constraints
Print the list in lexicographic increasing order.

In [43]:
x = int(input("Enter the value of x:"))
y = int(input("Enter the value of y:"))
z = int(input("Enter the value of z:"))
n = int(input("Enter the value"))

coordinates =[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if(i+j+k)!=n]
print(coordinates)

Enter the value of x:1
Enter the value of y:1
Enter the value of z:2
Enter the sum of x, y and z4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1]]

# Q.4 Task
Given the participants’ score sheet for your University Sports Day, you must find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up.

Input Format
The first line contains n. The second line contains an array A[] of n integers are each separated by a space.
Constraints
2 ≤  n ≤  10
-100 ≤  A[i] ≤ 100

Output Format
Print the runner-up score.

Sample Input 0
5

2 3 6 6 5
Sample Output 0
5
 
Explanation 0
The given list is [2, 3, 6, 6, 5]. The maximum score is 6, the second maximum score is 5. Hence, we print 5 as the runner-up score.

In [96]:
def find_runner_up_score(scores_list):
    max_score = max(scores_list)
    while max_score in scores_list:
        scores_list.remove(max_score)
    if scores_list:
        runner_up_score = max(scores_list)
        return runner_up_score
    else:
        return "No runner-up score found"

In [97]:
scores = [2, 3, 6, 6, 5]
runner_up_score = find_runner_up_score(scores)
print(runner_up_score)

5

In [98]:
def find_runner_up_score1(scores_list):
    unique_scores_set = set(scores_list)
    
    unique_scores_set.remove(max(unique_scores_set))
    
    runner_up_score = max(unique_scores_set)
    
    return runner_up_score

In [99]:
scores = [2, 3, 6, 6, 5]
runner_up_score = find_runner_up_score1(scores)
print(runner_up_score)

5

# Q.5 Task

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.


Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example
records  = [[ “chi”, 20.0]], [“beta”, 50.0], [“alpha”, 50.0]

The ordered list of scores is [20.0, 50.0], so the second lowest score is 50.0. There are two students with that score: [“beta”, “alpha”]. Ordered alphabetically, the names are printed as:

alpha

beta
 
Input Format
The first line contains an integer,n, the number of students.

The 2N subsequent lines describe each student over lines.


The first line contains a student’s name.
The second line contains their grade.
Constraints

2 <= N <= 5
There will always be one or more students having the second lowest grade.
 
Output Format
Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39


Sample Output 0
Berry

Harry

In [124]:
N = int(input("Enter the number of students: "))

student_records = []

print("Enter the names and grades of each student:")
for _ in range(N):
    name = input("Enter student name: ")
    grade = float(input("Enter student grade: "))
    student_records.append([name, grade])

student_records.sort(key=lambda x: x[1])

second_lowest_grade = sorted(set(grade for name, grade in student_records))[1]

students_with_second_lowest_grade = [name for name, grade in student_records if grade == second_lowest_grade]

print("Students with the second lowest grade:")
for student_name in sorted(students_with_second_lowest_grade):
    print(student_name)

Enter the number of students: 5
Enter the names and grades of each student:
Enter student name: Harry
Enter student grade: 37.21
Enter student name: Berry
Enter student grade: 37.21
Enter student name: Tina
Enter student grade: 37.2
Enter student name: Akriti
Enter student grade: 41
Enter student name: Harsh
Enter student grade: 39
Students with the second lowest grade:
Berry
Harry